---
http_interactions:
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/invoices
    body:
      encoding: UTF-8
      string: 'abcd1234,Coffee,AUD,123,true

'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-2947@60ea2dd
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"uuid":"ccdd8945-f3be-4e49-8410-c5a2265b3128","status":"pending"},"errors":[],"test":true}'
  recorded_at: Mon, 19 Mar 2018 11:25:16 GMT
recorded_with: VCR 3.0.3
