---
http_interactions:
- request:
    method: put
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/invoices
    body:
      encoding: UTF-8
      string: '{"content_type":"text/csv","test":true}'
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
      X-Request-Version:
      - 1.16.9-2947@60ea2dd
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":null,"errors":["Bad Request"],"test":true}'
  recorded_at: Mon, 19 Mar 2018 11:25:16 GMT
recorded_with: VCR 3.0.3
