---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/invoices/3c1d06f90545f1a32d565c0777048efd?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Request-Version:
      - 1.16.9-2947@60ea2dd
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":false,"response":null,"errors":["Not Found"],"test":true}'
  recorded_at: Mon, 19 Mar 2018 11:25:17 GMT
recorded_with: VCR 3.0.3
