---
http_interactions:
- request:
    method: get
    uri: https://gateway.sandbox.fatzebra.com.au/v1.0/invoices/abcd1234?test=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VEVTVDpURVNU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Version:
      - 1.16.9-2947@60ea2dd
      X-Backend:
      - sbox-priv-gateway-a
    body:
      encoding: UTF-8
      string: '{"successful":true,"response":{"amount":123,"currency":"AUD","description":"Coffee","reference":"abcd1234","payable":true},"errors":[],"test":true}'
  recorded_at: Mon, 19 Mar 2018 11:25:17 GMT
recorded_with: VCR 3.0.3
